.idea/

.env

vhosts/
alpha-panel/

apache/*
!apache/conf-enabled/

code-server/

ftp-config/users.env

frankenphp/caddy_data/
frankenphp/logs/
frankenphp/sites-enabled/

meilisearch/
mongodb/
mysql/
redis/

php-code-server/*
!php-code-server/8.0/fpm.d/www.conf
!php-code-server/8.1/fpm.d/www.conf
!php-code-server/8.2/fpm.d/www.conf
!php-code-server/8.3/fpm.d/www.conf
!php-code-server/8.4/fpm.d/www.conf
!php-code-server/supervisor.d/apache2.conf
!php-code-server/supervisor.d/php-fpm.conf
!php-code-server/supervisor.d/code-server.conf
!php-code-server/php.ini
!php-code-server/Dockerfile
!php-code-server/user-entrypoint.sh


vaultwarden/
